#form{
    text-align: center;
    padding-top: 100px;
    background-color: white;
}

.header{
    text-align: center;
}

.kiri{
    display: flex;
    width: 100px;
}

.flex{
    display: flex;
    justify-content: center;
}

